<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="524aa976-70d8-4992-a803-291f5ab2b95b" Name="Jabber-Net" Language="1033" Version="2.0.0.0" Manufacturer="Jabber, Inc." UpgradeCode="a9b118d3-9edc-4835-8213-c3acc9f2274f">
    <Package InstallerVersion="200" Compressed="yes" Description="Jabber's Jabber-Net Installer" Manufacturer="Jabber, Inc." />
    <Condition Message="Must be Windows 2000 or newer">VersionNT = 500 OR VersionNT = 501 OR VersionNT = 502 OR VersionNT = 600</Condition>
    <Media Id="1" Cabinet="JabberNetInstaller.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="Jabber-Net">
          <Component Id="ProductComponent" Guid="78fd8e6f-9eeb-4fb2-adf5-85e86b24de86">
            <File Id="JabberNetDll" Name="$(var.2005-jabber-net.TargetFileName)" Source="$(var.2005-jabber-net.TargetPath)" DiskId="1">
            </File>
            <File Id="MuzzleDll" Name="$(var.2005-muzzle.TargetFileName)" Source="$(var.2005-muzzle.TargetPath)" DiskId="1">
            </File>
            <File Id="Example" Name="$(var.2005-Example.TargetFileName)" Source="$(var.2005-Example.TargetPath)" DiskId="1">
            </File>
            <File Id="ConsoleClient" Name="$(var.2005-ConsoleClient.TargetFileName)" Source="$(var.2005-ConsoleClient.TargetPath)" DiskId="1">
            </File>
            <File Id="VBExample" Name="$(var.2005-VB.Example.TargetFileName)" Source="$(var.2005-VB.Example.TargetPath)" DiskId="1">
            </File>
            <File Id="NETLIB" Name="$(var.netlib.Dns.TargetFileName)" Source="$(var.netlib.Dns.TargetPath)" DiskId="1">
            </File>
            <File Id="zlib.net.dll" Name="zlib.net.dll" ShortName="ZLIB.DLL" Source="..\lib20\zlib.net.dll" />
          </Component>
          <!--Guid="11015458-BAEE-11DC-8C6A-D5BF55D89593"-->
          <Directory Id="HELPFILES" Name="Help">
            <Component Id="HelpFiles" Guid="11015458-baee-11dc-8c6a-d5bf55d89593">
              <File Id="Manual" Name="jabber-net.chm" DiskId="1" Source="..\Help\jabber-net.chm" />
            </Component>
          </Directory>
          <Directory Id="Examples" Name="Examples">
            <Directory Id="Example" Name="CSharp Example" ShortName="Example">
              <Component Id="Example" DiskId="1" Guid="15BF63E0-C499-4DDF-A19A-80B57BE80F3F">
                <File Id="_2005_Example.csproj" Name="2005-Example.csproj" ShortName="2005-EX.CSP" Source="..\Example\2005-Example.csproj" />
                <File Id="AddContact.cs" Name="AddContact.cs" ShortName="ADDCONT.CS" Source="..\Example\AddContact.cs" />
                <File Id="AddContact.resx" Name="AddContact.resx" ShortName="ADDCONT.RES" Source="..\Example\AddContact.resx" />
                <File Id="AddGroup.cs" Name="AddGroup.cs" ShortName="ADDGROU.CS" Source="..\Example\AddGroup.cs" />
                <File Id="AddGroup.resx" Name="AddGroup.resx" ShortName="ADDGROU.RES" Source="..\Example\AddGroup.resx" />
                <File Id="app.config" Name="app.config" ShortName="APP.CON" Source="..\Example\app.config" />
                <File Id="AssemblyInfo.cs" Name="AssemblyInfo.cs" ShortName="ASSEMBL.CS" Source="..\Example\AssemblyInfo.cs" />
                <File Id="ConferenceForm.cs" Name="ConferenceForm.cs" ShortName="CONFERE.CS" Source="..\Example\ConferenceForm.cs" />
                <File Id="ConferenceForm.resx" Name="ConferenceForm.resx" ShortName="CONFERE.RES" Source="..\Example\ConferenceForm.resx" />
                <File Id="Example.build" Name="Example.build" ShortName="EXAMPLE.BUI" Source="..\Example\Example.build" />
                <File Id="HAMMER.ICO" Name="HAMMER.ICO" ShortName="HAMMER.ICO" Source="..\Example\HAMMER.ICO" />
                <File Id="MainForm.cs" Name="MainForm.cs" ShortName="MAINFOR.CS" Source="..\Example\MainForm.cs" />
                <File Id="MainForm.resx" Name="MainForm.resx" ShortName="MAINFOR.RES" Source="..\Example\MainForm.resx" />
                <File Id="PubSubDisplay.cs" Name="PubSubDisplay.cs" ShortName="PUBSUBD.CS" Source="..\Example\PubSubDisplay.cs" />
                <File Id="PubSubDisplay.resx" Name="PubSubDisplay.resx" ShortName="PUBSUBD.RES" Source="..\Example\PubSubDisplay.resx" />
                <File Id="PubSubSubscribeForm.cs" Name="PubSubSubscribeForm.cs" ShortName="PUBSUBS.CS" Source="..\Example\PubSubSubscribeForm.cs" />
                <File Id="PubSubSubscribeForm.resx" Name="PubSubSubscribeForm.resx" ShortName="PUBSUBS.RES" Source="..\Example\PubSubSubscribeForm.resx" />
                <File Id="SendMessage.cs" Name="SendMessage.cs" ShortName="SENDMES.CS" Source="..\Example\SendMessage.cs" />
                <File Id="SendMessage.resx" Name="SendMessage.resx" ShortName="SENDMES.RES" Source="..\Example\SendMessage.resx" />
                <File Id="ServiceDisplay.cs" Name="ServiceDisplay.cs" ShortName="SERVICE.CS" Source="..\Example\ServiceDisplay.cs" />
                <File Id="ServiceDisplay.resx" Name="ServiceDisplay.resx" ShortName="SERVICE.RES" Source="..\Example\ServiceDisplay.resx" />
                <File Id="Reference.targets" Name="Reference.targets" ShortName="REFEREN.TAR" Source="..\Example\InstallerTargets\Reference.targets" />
              </Component>
            </Directory>
            <Directory Id="VB.Example" Name="VB.Example" ShortName="VB_Exam">
              <Component Id="VB.Example" DiskId="1" Guid="4AE0A5F8-65FB-41B0-ABDE-E69576346889">
                <File Id="_2005_VB.Example.vbproj" Name="2005-VB.Example.vbproj" ShortName="2005-VB.VBP" Source="..\VB.Example\2005-VB.Example.vbproj" />
                <File Id="AssemblyInfo.vb" Name="AssemblyInfo.vb" ShortName="ASSEMBL.VB" Source="..\VB.Example\AssemblyInfo.vb" />
                <File Id="HAMMER.ICO_1" Name="HAMMER.ICO" ShortName="HAMMER.ICO" Source="..\VB.Example\HAMMER.ICO" />
                <File Id="MainForm.resx_1" Name="MainForm.resx" ShortName="MAINFOR.RES" Source="..\VB.Example\MainForm.resx" />
                <File Id="MainForm.vb" Name="MainForm.vb" ShortName="MAINFOR.VB" Source="..\VB.Example\MainForm.vb" />
                <File Id="SendMessage.resx_1" Name="SendMessage.resx" ShortName="SENDMES.RES" Source="..\VB.Example\SendMessage.resx" />
                <File Id="SendMessage.vb" Name="SendMessage.vb" ShortName="SENDMES.VB" Source="..\VB.Example\SendMessage.vb" />
                <File Id="VB.Example.build" Name="VB.Example.build" ShortName="VB_EXAM.BUI" Source="..\VB.Example\VB.Example.build" />
                <File Id="Reference.targets_1" Name="Reference.targets" ShortName="REFEREN.TAR" Source="..\VB.Example\InstallerTargets\Reference.targets" />
              </Component>
            </Directory>
            <Directory Id="ConsoleClient" Name="ConsoleClient" ShortName="Console">
              <Component Id="ConsoleClient" DiskId="1" Guid="896C47A2-772D-4027-9709-2A89D76E9636">
                <File Id="_2005_ConsoleClient.csproj" Name="2005-ConsoleClient.csproj" ShortName="2005-CO.CSP" Source="..\ConsoleClient\2005-ConsoleClient.csproj" />
                <File Id="App.ico" Name="App.ico" ShortName="APP.ICO" Source="..\ConsoleClient\App.ico" />
                <File Id="AssemblyInfo.cs_1" Name="AssemblyInfo.cs" ShortName="ASSEMBL.CS" Source="..\ConsoleClient\AssemblyInfo.cs" />
                <File Id="Main.cs" Name="Main.cs" ShortName="MAIN.CS" Source="..\ConsoleClient\Main.cs" />
                <File Id="Makefile" Name="Makefile" ShortName="MAKEFIL" Source="..\ConsoleClient\Makefile" />
                <File Id="Reference.targets_2" Name="Reference.targets" ShortName="REFEREN.TAR" Source="..\ConsoleClient\InstallerTargets\Reference.targets" />
              </Component>
            </Directory>
            <Component Id="ExampleSolution" Guid="695E63C7-9CB4-4AB2-BC0C-1DBE8E25407A">
              <File Id="Example.sln" Name="Example.sln" ShortName="EXAMPLE.SLN" Source="ExampleSolution\Example.sln" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="ProductFeature" Title="Jabber-Net" Description="XMPP Client Library" Level="1" Display="expand" ConfigurableDirectory="INSTALLLOCATION">
      <Feature Id="Dlls" Title="Jabber-Net libraries" Description="XMPP Client Libraries" Level="1">
        <ComponentRef Id="ProductComponent" />
      </Feature>
      <Feature Id="Documentation" Title="Help Files" Description="Jabber-Net Help Files" Level="1000">
        <ComponentRef Id="HelpFiles" />
      </Feature>
      <Feature Id="Examples" Title="Example Source Files" Description="The source code for the included examples." Level="1000">
        <ComponentRef Id="Example" />
        <ComponentRef Id="VB.Example" />
        <ComponentRef Id="ConsoleClient" />
        <ComponentRef Id="ExampleSolution"/>
      </Feature>
    </Feature>
    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="ARPPRODUCTICON" Value="Setup.ico" />
    <Icon Id="Setup.ico" SourceFile="Setup.ico" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <Binary Id="ToolboxInstaller" SourceFile="Toolbox.exe" />
    <CustomAction Id="RunJabberNetInstaller" BinaryKey="ToolboxInstaller" ExeCommand="/vs2005 /vs2008 /installdesktop &quot;[#JabberNetDll]&quot; &quot;Jabber-Net&quot; /installdesktop &quot;[#MuzzleDll]&quot; &quot;Muzzle&quot;" />
    <CustomAction Id="RunJabberNetUninstaller" BinaryKey="ToolboxInstaller" ExeCommand="/vs2005 /vs2008 /uninstall &quot;Jabber-Net&quot; /uninstall &quot;Muzzle&quot;" />
    <InstallExecuteSequence>
      <Custom Action="RunJabberNetInstaller" After="InstallFinalize">$ProductComponent&gt;2</Custom>
      <Custom Action="RunJabberNetUninstaller" After="MsiUnpublishAssemblies">$ProductComponent=2</Custom>
    </InstallExecuteSequence>
    <UI />
  </Product>
</Wix>